<h1>Create User Again</h1>

<table>
	<%=form_tag(:action => 'create') do %>
	<tr>
		<td>Name: </td>
		<td><%= text_field(:admin_user, :name) %></td>
	</tr>
		<tr>
		<td>Username: </td>
		<td><%= text_field(:admin_user, :username) %></td>
	</tr>
		<tr>
		<td>Email: </td>
		<td><%= email_field(:admin_user, :email) %></td>
	</tr>
		<tr>
		<td>Password: </td>
		<td><%= password_field(:admin_user, :password) %></td>
	</tr>
	<tr>
		<td colspan="2"><%= submit_tag("Create Account") %></td>
	</tr>
	<%end%>
</table>
